<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Capability Model</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Capability Model</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/2044eeea-69c9-4f66-9bbb-644d0905032a.png" alt="Capability Model" usemap="#2044eeea-69c9-4f66-9bbb-644d0905032amap">
			<map name="2044eeea-69c9-4f66-9bbb-644d0905032amap">
								<area shape="rect" coords="116,116,356,238" href="../elements/45736af8-8e5d-488b-a5a8-054f3a83411b.html"  target="element">
								<area shape="rect" coords="428,116,668,238" href="../elements/6fbc2a63-fba5-495d-af52-8ed40dde9334.html"  target="element">
								<area shape="rect" coords="740,116,980,238" href="../elements/e2f63f54-1a61-47bf-8554-ea19b113b943.html"  target="element">
								<area shape="rect" coords="1052,116,1292,238" href="../elements/bf5df1be-7d86-434c-b756-f5aa6fdf4dfc.html"  target="element">
								<area shape="rect" coords="1364,116,1604,238" href="../elements/5db6de85-9411-4595-8f30-82765319558e.html"  target="element">

						<area shape="rect" coords="20,20,1726,310" href="../elements/f3bfb098-7cac-41bc-b46e-549ab6e8e178.html"  target="element">
								<area shape="rect" coords="92,428,332,526" href="../elements/76a14177-2e7d-4507-bc57-b18d9ac619b5.html"  target="element">

						<area shape="rect" coords="20,332,430,934" href="../elements/711384da-29d1-4579-8bca-db2f822fab62.html"  target="element">
						<area shape="rect" coords="452,332,862,934" href="../elements/d937300d-c515-4b96-91b6-5fd6d5602d09.html"  target="element">
								<area shape="rect" coords="1412,500,1652,598" href="../elements/f926d394-fa40-4227-ae64-41095389a09e.html"  target="element">
								<area shape="rect" coords="1412,644,1652,742" href="../elements/5e292591-89d3-455e-a79f-0c02029ec424.html"  target="element">

						<area shape="rect" coords="1316,332,1726,934" href="../elements/80c7ebe1-0068-4fa5-8d96-d87b7993b50e.html"  target="element">
										<area shape="rect" coords="260,1052,312,1108" href="../views/c2ddb8e8-7a8d-4861-96c8-30944639bda8.html"  target="view">

								<area shape="rect" coords="68,1004,308,1102" href="../elements/6f4c7d3b-68d9-45a4-b337-f85baa63662b.html"  target="element">
								<area shape="rect" coords="68,1124,308,1222" href="../elements/ed55a38b-443b-4f9d-b313-34bfa8c9c7d8.html"  target="element">
								<area shape="rect" coords="332,1004,572,1102" href="../elements/e9f92a2d-3c7f-4537-a3f2-c14910c83025.html"  target="element">
								<area shape="rect" coords="332,1124,572,1222" href="../elements/dc059a59-2e9d-482c-9907-5b0de6525b95.html"  target="element">

						<area shape="rect" coords="20,956,622,1246" href="../elements/4a692fb3-3a41-4801-9299-013a647b29cf.html"  target="element">
								<area shape="rect" coords="956,428,1196,526" href="../elements/55e54a06-6461-4d3d-a352-79eeff698d5c.html"  target="element">
										<area shape="rect" coords="1148,596,1198,646" href="../views/cbf2a9d1-ef92-41c6-b4e0-ac08a749466b.html"  target="view">

								<area shape="rect" coords="956,548,1196,646" href="../elements/441ecb7d-b54d-4045-ae88-f0fbd78764b1.html"  target="element">
								<area shape="rect" coords="956,668,1196,766" href="../elements/0dd19a89-e030-4d88-8b06-83ebed4cb8f3.html"  target="element">
								<area shape="rect" coords="956,788,1196,886" href="../elements/6aea31c8-529c-4094-b51a-53e7d3fe3016.html"  target="element">

						<area shape="rect" coords="884,332,1294,934" href="../elements/c8d00c3c-511b-42ea-a97e-a5d12abe0b94.html"  target="element">
								<area shape="rect" coords="1460,1014,1700,1110" href="../elements/3a5c49c1-21c1-4de7-8b87-d987706a36d2.html"  target="element">
										<area shape="rect" coords="1390,1062,1440,1112" href="../views/373684b0-5981-4ab6-95e6-cdeda900498a.html"  target="view">

								<area shape="rect" coords="1198,1014,1438,1110" href="../elements/d52e0ac8-8614-4848-90de-b58c8db80986.html"  target="element">
								<area shape="rect" coords="1460,1130,1700,1226" href="../elements/72ba13bf-cb9b-4826-a6d3-26c40cd23cf0.html"  target="element">
								<area shape="rect" coords="1198,1130,1438,1226" href="../elements/1c968917-9462-4199-984c-2798905523e6.html"  target="element">

						<area shape="rect" coords="1172,956,1726,1246" href="../elements/ba05fd65-4287-4e05-a99c-8ba49d038935.html"  target="element">
						<area shape="rect" coords="646,956,1150,1246" href="../elements/b77d7545-ff02-4d5e-bf98-567560248cdc.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/f3bfb098-7cac-41bc-b46e-549ab6e8e178.html" target="element"> Strategic Management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/45736af8-8e5d-488b-a5a8-054f3a83411b.html" target="element"> Strategy Development </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/6fbc2a63-fba5-495d-af52-8ed40dde9334.html" target="element"> Organization Development </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/e2f63f54-1a61-47bf-8554-ea19b113b943.html" target="element"> Innovation and Technology Management </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/bf5df1be-7d86-434c-b756-f5aa6fdf4dfc.html" target="element"> Risk Management </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/5db6de85-9411-4595-8f30-82765319558e.html" target="element"> External Communication </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											
											<tr><td> <a href="../elements/711384da-29d1-4579-8bca-db2f822fab62.html" target="element"> Customer Relationships </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/76a14177-2e7d-4507-bc57-b18d9ac619b5.html" target="element"> Customer Services </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											
											<tr><td> <a href="../elements/d937300d-c515-4b96-91b6-5fd6d5602d09.html" target="element"> Marketing &amp; Sales </a> </td><td class="i18n-elementtype-Capability"></td></tr>
											<tr><td> <a href="../elements/80c7ebe1-0068-4fa5-8d96-d87b7993b50e.html" target="element"> Procurement </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/f926d394-fa40-4227-ae64-41095389a09e.html" target="element"> Purchase Goods </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/5e292591-89d3-455e-a79f-0c02029ec424.html" target="element"> Hire Externals </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											
											<tr><td> <a href="../elements/4a692fb3-3a41-4801-9299-013a647b29cf.html" target="element"> Enterprise Support </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/6f4c7d3b-68d9-45a4-b337-f85baa63662b.html" target="element"> Human Resource Management </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
															<tr><td> <a href="../views/c2ddb8e8-7a8d-4861-96c8-30944639bda8.html" target="view"> Human Resource Management </a> </td><td class="i18n-viewpoint-"></td></tr>
													
													<tr><td> <a href="../elements/ed55a38b-443b-4f9d-b313-34bfa8c9c7d8.html" target="element"> Internal Communication </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/e9f92a2d-3c7f-4537-a3f2-c14910c83025.html" target="element"> Asset Management </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/dc059a59-2e9d-482c-9907-5b0de6525b95.html" target="element"> Facility Management </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											
											<tr><td> <a href="../elements/c8d00c3c-511b-42ea-a97e-a5d12abe0b94.html" target="element"> Product &amp; Service Development </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/55e54a06-6461-4d3d-a352-79eeff698d5c.html" target="element"> Project Management </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/441ecb7d-b54d-4045-ae88-f0fbd78764b1.html" target="element"> Product Development </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
															<tr><td> <a href="../views/cbf2a9d1-ef92-41c6-b4e0-ac08a749466b.html" target="view"> Product Development </a> </td><td class="i18n-viewpoint-"></td></tr>
													
													<tr><td> <a href="../elements/0dd19a89-e030-4d88-8b06-83ebed4cb8f3.html" target="element"> Product Engineering </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/6aea31c8-529c-4094-b51a-53e7d3fe3016.html" target="element"> Service Delivery </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											
											<tr><td> <a href="../elements/ba05fd65-4287-4e05-a99c-8ba49d038935.html" target="element"> IT Management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/3a5c49c1-21c1-4de7-8b87-d987706a36d2.html" target="element"> Quality Management </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/d52e0ac8-8614-4848-90de-b58c8db80986.html" target="element"> IT Service Management </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
															<tr><td> <a href="../views/373684b0-5981-4ab6-95e6-cdeda900498a.html" target="view"> Service Management </a> </td><td class="i18n-viewpoint-"></td></tr>
													
													<tr><td> <a href="../elements/72ba13bf-cb9b-4826-a6d3-26c40cd23cf0.html" target="element"> Test Management </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/1c968917-9462-4199-984c-2798905523e6.html" target="element"> Information Security </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											
											<tr><td> <a href="../elements/b77d7545-ff02-4d5e-bf98-567560248cdc.html" target="element"> Finance &amp; Controlling </a> </td><td class="i18n-elementtype-Capability"></td></tr>

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																			<tr>
																				<td> <a href="../elements/06c4957e-d2f9-49a1-b9a7-8402a6d2e806.html" target="element">  </a> </td>
																				<td> <a href="../elements/06c4957e-d2f9-49a1-b9a7-8402a6d2e806.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/45736af8-8e5d-488b-a5a8-054f3a83411b.html" target="element"> Strategy Development </a> </td>
																				<td> <a href="../elements/f3bfb098-7cac-41bc-b46e-549ab6e8e178.html" target="element"> Strategic Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/227fcbc5-f1fc-45e5-bd8e-78fa646e18d5.html" target="element">  </a> </td>
																				<td> <a href="../elements/227fcbc5-f1fc-45e5-bd8e-78fa646e18d5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/6fbc2a63-fba5-495d-af52-8ed40dde9334.html" target="element"> Organization Development </a> </td>
																				<td> <a href="../elements/f3bfb098-7cac-41bc-b46e-549ab6e8e178.html" target="element"> Strategic Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/3beefbf4-762a-4d48-b387-74db8bc68818.html" target="element">  </a> </td>
																				<td> <a href="../elements/3beefbf4-762a-4d48-b387-74db8bc68818.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/e2f63f54-1a61-47bf-8554-ea19b113b943.html" target="element"> Innovation and Technology Management </a> </td>
																				<td> <a href="../elements/f3bfb098-7cac-41bc-b46e-549ab6e8e178.html" target="element"> Strategic Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/de892961-a53d-44ef-aa42-dc7854b5d053.html" target="element">  </a> </td>
																				<td> <a href="../elements/de892961-a53d-44ef-aa42-dc7854b5d053.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/bf5df1be-7d86-434c-b756-f5aa6fdf4dfc.html" target="element"> Risk Management </a> </td>
																				<td> <a href="../elements/f3bfb098-7cac-41bc-b46e-549ab6e8e178.html" target="element"> Strategic Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/eba82e26-9dd1-4f5a-8979-249cdbeb57a5.html" target="element">  </a> </td>
																				<td> <a href="../elements/eba82e26-9dd1-4f5a-8979-249cdbeb57a5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/5db6de85-9411-4595-8f30-82765319558e.html" target="element"> External Communication </a> </td>
																				<td> <a href="../elements/f3bfb098-7cac-41bc-b46e-549ab6e8e178.html" target="element"> Strategic Management </a> </td>
																			</tr>

											
																			<tr>
																				<td> <a href="../elements/9d3b138f-b717-411c-84da-2937efa63ba5.html" target="element">  </a> </td>
																				<td> <a href="../elements/9d3b138f-b717-411c-84da-2937efa63ba5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/76a14177-2e7d-4507-bc57-b18d9ac619b5.html" target="element"> Customer Services </a> </td>
																				<td> <a href="../elements/711384da-29d1-4579-8bca-db2f822fab62.html" target="element"> Customer Relationships </a> </td>
																			</tr>

											
																			<tr>
																				<td> <a href="../elements/1a8e530d-de70-489e-abef-844e7ec9962f.html" target="element">  </a> </td>
																				<td> <a href="../elements/1a8e530d-de70-489e-abef-844e7ec9962f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f926d394-fa40-4227-ae64-41095389a09e.html" target="element"> Purchase Goods </a> </td>
																				<td> <a href="../elements/80c7ebe1-0068-4fa5-8d96-d87b7993b50e.html" target="element"> Procurement </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ad8f9a7e-a2c1-420a-b197-e436e1969fcc.html" target="element">  </a> </td>
																				<td> <a href="../elements/ad8f9a7e-a2c1-420a-b197-e436e1969fcc.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/5e292591-89d3-455e-a79f-0c02029ec424.html" target="element"> Hire Externals </a> </td>
																				<td> <a href="../elements/80c7ebe1-0068-4fa5-8d96-d87b7993b50e.html" target="element"> Procurement </a> </td>
																			</tr>

											
																			<tr>
																				<td> <a href="../elements/b4ff0f71-792d-46ac-b0f8-87ba28179043.html" target="element">  </a> </td>
																				<td> <a href="../elements/b4ff0f71-792d-46ac-b0f8-87ba28179043.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/6f4c7d3b-68d9-45a4-b337-f85baa63662b.html" target="element"> Human Resource Management </a> </td>
																				<td> <a href="../elements/4a692fb3-3a41-4801-9299-013a647b29cf.html" target="element"> Enterprise Support </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
																			<tr>
																				<td> <a href="../elements/7aaa5227-f754-41f1-bc3b-acf97dceba75.html" target="element">  </a> </td>
																				<td> <a href="../elements/7aaa5227-f754-41f1-bc3b-acf97dceba75.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/ed55a38b-443b-4f9d-b313-34bfa8c9c7d8.html" target="element"> Internal Communication </a> </td>
																				<td> <a href="../elements/4a692fb3-3a41-4801-9299-013a647b29cf.html" target="element"> Enterprise Support </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/56bbaf44-7ee5-402a-8e0d-5a79d33255db.html" target="element">  </a> </td>
																				<td> <a href="../elements/56bbaf44-7ee5-402a-8e0d-5a79d33255db.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/e9f92a2d-3c7f-4537-a3f2-c14910c83025.html" target="element"> Asset Management </a> </td>
																				<td> <a href="../elements/4a692fb3-3a41-4801-9299-013a647b29cf.html" target="element"> Enterprise Support </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/eb0fc5b0-c1ca-4001-b6fb-0911b7227da7.html" target="element">  </a> </td>
																				<td> <a href="../elements/eb0fc5b0-c1ca-4001-b6fb-0911b7227da7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/dc059a59-2e9d-482c-9907-5b0de6525b95.html" target="element"> Facility Management </a> </td>
																				<td> <a href="../elements/4a692fb3-3a41-4801-9299-013a647b29cf.html" target="element"> Enterprise Support </a> </td>
																			</tr>

											
																			<tr>
																				<td> <a href="../elements/dc7eba0e-1f13-42a8-87e7-eb70bc2860d4.html" target="element">  </a> </td>
																				<td> <a href="../elements/dc7eba0e-1f13-42a8-87e7-eb70bc2860d4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/55e54a06-6461-4d3d-a352-79eeff698d5c.html" target="element"> Project Management </a> </td>
																				<td> <a href="../elements/c8d00c3c-511b-42ea-a97e-a5d12abe0b94.html" target="element"> Product &amp; Service Development </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/fe5dfb11-bd1e-4569-9ab5-65aa8d7e00c7.html" target="element">  </a> </td>
																				<td> <a href="../elements/fe5dfb11-bd1e-4569-9ab5-65aa8d7e00c7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/441ecb7d-b54d-4045-ae88-f0fbd78764b1.html" target="element"> Product Development </a> </td>
																				<td> <a href="../elements/c8d00c3c-511b-42ea-a97e-a5d12abe0b94.html" target="element"> Product &amp; Service Development </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
																			<tr>
																				<td> <a href="../elements/b18769fd-4441-40b9-b5af-6a5ccc584275.html" target="element">  </a> </td>
																				<td> <a href="../elements/b18769fd-4441-40b9-b5af-6a5ccc584275.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/0dd19a89-e030-4d88-8b06-83ebed4cb8f3.html" target="element"> Product Engineering </a> </td>
																				<td> <a href="../elements/c8d00c3c-511b-42ea-a97e-a5d12abe0b94.html" target="element"> Product &amp; Service Development </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/de07d616-50ed-4a44-8c3d-726d0e422a15.html" target="element">  </a> </td>
																				<td> <a href="../elements/de07d616-50ed-4a44-8c3d-726d0e422a15.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/6aea31c8-529c-4094-b51a-53e7d3fe3016.html" target="element"> Service Delivery </a> </td>
																				<td> <a href="../elements/c8d00c3c-511b-42ea-a97e-a5d12abe0b94.html" target="element"> Product &amp; Service Development </a> </td>
																			</tr>

											
																			<tr>
																				<td> <a href="../elements/465b22a6-1f82-4448-9362-5dedf07b33f1.html" target="element">  </a> </td>
																				<td> <a href="../elements/465b22a6-1f82-4448-9362-5dedf07b33f1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/3a5c49c1-21c1-4de7-8b87-d987706a36d2.html" target="element"> Quality Management </a> </td>
																				<td> <a href="../elements/ba05fd65-4287-4e05-a99c-8ba49d038935.html" target="element"> IT Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/06556d59-2670-4de0-acbf-72256505bcc1.html" target="element">  </a> </td>
																				<td> <a href="../elements/06556d59-2670-4de0-acbf-72256505bcc1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/d52e0ac8-8614-4848-90de-b58c8db80986.html" target="element"> IT Service Management </a> </td>
																				<td> <a href="../elements/ba05fd65-4287-4e05-a99c-8ba49d038935.html" target="element"> IT Management </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
																			<tr>
																				<td> <a href="../elements/2a7b15e9-2c77-4852-9ded-862ae5b9dd57.html" target="element">  </a> </td>
																				<td> <a href="../elements/2a7b15e9-2c77-4852-9ded-862ae5b9dd57.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/72ba13bf-cb9b-4826-a6d3-26c40cd23cf0.html" target="element"> Test Management </a> </td>
																				<td> <a href="../elements/ba05fd65-4287-4e05-a99c-8ba49d038935.html" target="element"> IT Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/6108bc7c-1530-4de9-8426-ae233f317017.html" target="element">  </a> </td>
																				<td> <a href="../elements/6108bc7c-1530-4de9-8426-ae233f317017.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/1c968917-9462-4199-984c-2798905523e6.html" target="element"> Information Security </a> </td>
																				<td> <a href="../elements/ba05fd65-4287-4e05-a99c-8ba49d038935.html" target="element"> IT Management </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>