<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Service Management</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Service Management</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/373684b0-5981-4ab6-95e6-cdeda900498a.png" alt="Service Management" usemap="#373684b0-5981-4ab6-95e6-cdeda900498amap">
			<map name="373684b0-5981-4ab6-95e6-cdeda900498amap">
								<area shape="rect" coords="116,140,356,250" href="../elements/91185ce0-0992-4c7a-adbd-88805e41f5e9.html"  target="element">
								<area shape="rect" coords="404,140,644,250" href="../elements/9724ce19-761c-4f72-ad21-7fb064e6ac70.html"  target="element">
								<area shape="rect" coords="692,140,932,250" href="../elements/75e4787b-5630-4710-bbce-aa2881c9ac48.html"  target="element">
								<area shape="rect" coords="980,140,1220,250" href="../elements/f73f15ec-2850-47ef-ba7c-863ecd91543c.html"  target="element">
								<area shape="rect" coords="1292,140,1532,250" href="../elements/5bc7a187-071f-4c4b-9ae7-862853d51dd0.html"  target="element">

						<area shape="rect" coords="20,20,1606,334" href="../elements/d52e0ac8-8614-4848-90de-b58c8db80986.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/d52e0ac8-8614-4848-90de-b58c8db80986.html" target="element"> IT Service Management </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/91185ce0-0992-4c7a-adbd-88805e41f5e9.html" target="element"> Change Management </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/9724ce19-761c-4f72-ad21-7fb064e6ac70.html" target="element"> Incident Management </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/75e4787b-5630-4710-bbce-aa2881c9ac48.html" target="element"> Resource Management </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/f73f15ec-2850-47ef-ba7c-863ecd91543c.html" target="element"> Problem Management </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/5bc7a187-071f-4c4b-9ae7-862853d51dd0.html" target="element"> Configuration Management </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/1519997e-4f4e-4594-bb26-27d3eead95ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/1519997e-4f4e-4594-bb26-27d3eead95ce.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d52e0ac8-8614-4848-90de-b58c8db80986.html" target="element"> IT Service Management </a> </td>
																		<td> <a href="../elements/91185ce0-0992-4c7a-adbd-88805e41f5e9.html" target="element"> Change Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8468b2dc-1f46-4bd8-b767-a33d50f5030a.html" target="element">  </a> </td>
																		<td> <a href="../elements/8468b2dc-1f46-4bd8-b767-a33d50f5030a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d52e0ac8-8614-4848-90de-b58c8db80986.html" target="element"> IT Service Management </a> </td>
																		<td> <a href="../elements/9724ce19-761c-4f72-ad21-7fb064e6ac70.html" target="element"> Incident Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5e749fd3-012f-48a2-b8e4-c0a203709bc0.html" target="element">  </a> </td>
																		<td> <a href="../elements/5e749fd3-012f-48a2-b8e4-c0a203709bc0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d52e0ac8-8614-4848-90de-b58c8db80986.html" target="element"> IT Service Management </a> </td>
																		<td> <a href="../elements/75e4787b-5630-4710-bbce-aa2881c9ac48.html" target="element"> Resource Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4d21ec64-35b0-4968-9a92-523a882a8e4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/4d21ec64-35b0-4968-9a92-523a882a8e4e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d52e0ac8-8614-4848-90de-b58c8db80986.html" target="element"> IT Service Management </a> </td>
																		<td> <a href="../elements/f73f15ec-2850-47ef-ba7c-863ecd91543c.html" target="element"> Problem Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f60f3ce3-11f9-4151-b295-4bbf7812dccc.html" target="element">  </a> </td>
																		<td> <a href="../elements/f60f3ce3-11f9-4151-b295-4bbf7812dccc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d52e0ac8-8614-4848-90de-b58c8db80986.html" target="element"> IT Service Management </a> </td>
																		<td> <a href="../elements/5bc7a187-071f-4c4b-9ae7-862853d51dd0.html" target="element"> Configuration Management </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>