<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Stakeholders</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Stakeholders</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/af720845-ba51-46d5-afc7-9e552b7db001.png" alt="Stakeholders" usemap="#af720845-ba51-46d5-afc7-9e552b7db001map">
			<map name="af720845-ba51-46d5-afc7-9e552b7db001map">
						<area shape="rect" coords="20,452,260,562" href="../elements/8ffabd82-ebcb-4109-b70f-745acf100812.html"  target="element">
						<area shape="rect" coords="1340,248,1580,358" href="../elements/c9c0b8ae-3b9d-45f4-b3d2-ddf707e8ea30.html"  target="element">
						<area shape="rect" coords="356,932,596,1042" href="../elements/aa35f9ae-5759-47ce-b1cf-466475c98a9a.html"  target="element">
						<area shape="rect" coords="44,932,284,1042" href="../elements/bfbee199-40e7-44bd-8ff9-d5816a3084f4.html"  target="element">
						<area shape="rect" coords="836,68,1076,178" href="../elements/796663fc-f096-4093-b9bf-737e7772c5d3.html"  target="element">
						<area shape="rect" coords="20,620,260,730" href="../elements/d768198a-e097-4a9a-a650-ad210d5200d7.html"  target="element">
						<area shape="rect" coords="1340,392,1580,502" href="../elements/16afb3d1-ec67-499f-b352-3195ef61a4c2.html"  target="element">
						<area shape="rect" coords="20,284,260,394" href="../elements/42b0f996-d40b-4afc-a663-c4dbeff8601b.html"  target="element">
						<area shape="rect" coords="1340,548,1580,658" href="../elements/68e7b0b4-561b-4c57-9e13-d60d10169be7.html"  target="element">
						<area shape="rect" coords="1124,68,1364,178" href="../elements/52cb5e8e-92b1-4070-8227-229f268e0bc1.html"  target="element">
						<area shape="rect" coords="20,776,260,886" href="../elements/imp-140177-7607236-8144901.html"  target="element">
						<area shape="rect" coords="596,140,764,202" href="../elements/76cfdb35-93a9-4b1b-87ce-19561dd9ddca.html"  target="element">
								<area shape="rect" coords="356,488,596,598" href="../elements/cabea1f7-11d4-4ef2-9e16-15a6b169b5ce.html"  target="element">
								<area shape="rect" coords="932,428,1172,538" href="../elements/a83ee73d-d70a-4f6b-ae78-aebf1ee77a58.html"  target="element">
								<area shape="rect" coords="428,296,668,406" href="../elements/f0bba757-0a4e-46b7-b7ce-c9c5310cfca5.html"  target="element">
								<area shape="rect" coords="740,296,980,406" href="../elements/ceef9166-ad5c-445a-a43a-3ff062ea854f.html"  target="element">
								<area shape="rect" coords="356,680,596,790" href="../elements/aed0aff7-ed16-42d2-8fe0-0e302ba917d9.html"  target="element">
								<area shape="rect" coords="932,560,1172,670" href="../elements/6461d116-c5b0-4747-bbd8-40486dcb1c6b.html"  target="element">
								<area shape="rect" coords="932,704,1172,814" href="../elements/cc8fe738-ff2c-4bee-ac0b-5937e1c5b7a9.html"  target="element">

						<area shape="rect" coords="308,248,1222,886" href="../elements/272903d8-9916-4a6e-b54d-c6031723b6c4.html"  target="element">
						<area shape="rect" coords="646,932,886,1042" href="../elements/78d45e31-ef27-4ba3-b80a-935c370ec4aa.html"  target="element">
						<area shape="rect" coords="1340,692,1580,802" href="../elements/21ff477b-236a-4ac6-854f-6564ea905a8a.html"  target="element">
						<area shape="rect" coords="258,68,498,178" href="../elements/c2f65683-296d-4b72-8e2e-00881ab99baa.html"  target="element">
						<area shape="rect" coords="548,20,812,130" href="../elements/f63fbb85-4f20-4e8e-aba7-0c5d50c09f8b.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/8ffabd82-ebcb-4109-b70f-745acf100812.html" target="element"> Customers </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
											<tr><td> <a href="../elements/c9c0b8ae-3b9d-45f4-b3d2-ddf707e8ea30.html" target="element"> Consulting companies </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
											<tr><td> <a href="../elements/aa35f9ae-5759-47ce-b1cf-466475c98a9a.html" target="element"> Legislator </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
											<tr><td> <a href="../elements/bfbee199-40e7-44bd-8ff9-d5816a3084f4.html" target="element"> Municipal Government </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
											<tr><td> <a href="../elements/796663fc-f096-4093-b9bf-737e7772c5d3.html" target="element"> Employees </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
											<tr><td> <a href="../elements/d768198a-e097-4a9a-a650-ad210d5200d7.html" target="element"> Prospective Customers </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
											<tr><td> <a href="../elements/16afb3d1-ec67-499f-b352-3195ef61a4c2.html" target="element"> BI Providers </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
											<tr><td> <a href="../elements/42b0f996-d40b-4afc-a663-c4dbeff8601b.html" target="element"> Key Advisors </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
											<tr><td> <a href="../elements/68e7b0b4-561b-4c57-9e13-d60d10169be7.html" target="element"> Service Providers </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
											<tr><td> <a href="../elements/52cb5e8e-92b1-4070-8227-229f268e0bc1.html" target="element"> Technology communities </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
											<tr><td> <a href="../elements/imp-140177-7607236-8144901.html" target="element"> Branche Organisation </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
											<tr><td> <a href="../elements/76cfdb35-93a9-4b1b-87ce-19561dd9ddca.html" target="element"> Owner </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
											<tr><td> <a href="../elements/272903d8-9916-4a6e-b54d-c6031723b6c4.html" target="element"> Driver </a> </td><td class="i18n-elementtype-Driver"></td></tr>
													<tr><td> <a href="../elements/cabea1f7-11d4-4ef2-9e16-15a6b169b5ce.html" target="element"> Competitive information products </a> </td><td class="i18n-elementtype-Driver"></td></tr>
													<tr><td> <a href="../elements/a83ee73d-d70a-4f6b-ae78-aebf1ee77a58.html" target="element"> Technology Leadership </a> </td><td class="i18n-elementtype-Driver"></td></tr>
													<tr><td> <a href="../elements/f0bba757-0a4e-46b7-b7ce-c9c5310cfca5.html" target="element"> Profitability </a> </td><td class="i18n-elementtype-Driver"></td></tr>
													<tr><td> <a href="../elements/ceef9166-ad5c-445a-a43a-3ff062ea854f.html" target="element"> Sustainability </a> </td><td class="i18n-elementtype-Driver"></td></tr>
													<tr><td> <a href="../elements/aed0aff7-ed16-42d2-8fe0-0e302ba917d9.html" target="element"> Compliance &amp; Security </a> </td><td class="i18n-elementtype-Driver"></td></tr>
													<tr><td> <a href="../elements/6461d116-c5b0-4747-bbd8-40486dcb1c6b.html" target="element"> Platform Stability </a> </td><td class="i18n-elementtype-Driver"></td></tr>
													<tr><td> <a href="../elements/cc8fe738-ff2c-4bee-ac0b-5937e1c5b7a9.html" target="element"> Extensive Data Analytics Platform </a> </td><td class="i18n-elementtype-Driver"></td></tr>
											
											<tr><td> <a href="../elements/78d45e31-ef27-4ba3-b80a-935c370ec4aa.html" target="element"> Ministries </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
											<tr><td> <a href="../elements/21ff477b-236a-4ac6-854f-6564ea905a8a.html" target="element"> Data Providers </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
											<tr><td> <a href="../elements/c2f65683-296d-4b72-8e2e-00881ab99baa.html" target="element"> Competitor </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
											<tr><td> <a href="../elements/f63fbb85-4f20-4e8e-aba7-0c5d50c09f8b.html" target="element"> Resellers </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/185988c3-f79a-4e4a-9577-2c5c0429bbc2.html" target="element">  </a> </td>
																		<td> <a href="../elements/185988c3-f79a-4e4a-9577-2c5c0429bbc2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/8ffabd82-ebcb-4109-b70f-745acf100812.html" target="element"> Customers </a> </td>
																		<td> <a href="../elements/cabea1f7-11d4-4ef2-9e16-15a6b169b5ce.html" target="element"> Competitive information products </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d04fd2c1-8e69-4322-b3b3-0eafc3a53eac.html" target="element">  </a> </td>
																		<td> <a href="../elements/d04fd2c1-8e69-4322-b3b3-0eafc3a53eac.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/c9c0b8ae-3b9d-45f4-b3d2-ddf707e8ea30.html" target="element"> Consulting companies </a> </td>
																		<td> <a href="../elements/a83ee73d-d70a-4f6b-ae78-aebf1ee77a58.html" target="element"> Technology Leadership </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c318b81f-a1c4-401c-9444-0eb33c53c816.html" target="element">  </a> </td>
																		<td> <a href="../elements/c318b81f-a1c4-401c-9444-0eb33c53c816.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/aa35f9ae-5759-47ce-b1cf-466475c98a9a.html" target="element"> Legislator </a> </td>
																		<td> <a href="../elements/aed0aff7-ed16-42d2-8fe0-0e302ba917d9.html" target="element"> Compliance &amp; Security </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d197ebb6-6881-444b-b245-0ef297706b4a.html" target="element">  </a> </td>
																		<td> <a href="../elements/d197ebb6-6881-444b-b245-0ef297706b4a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/bfbee199-40e7-44bd-8ff9-d5816a3084f4.html" target="element"> Municipal Government </a> </td>
																		<td> <a href="../elements/aed0aff7-ed16-42d2-8fe0-0e302ba917d9.html" target="element"> Compliance &amp; Security </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/480a3b29-4719-435b-b5fb-2b597df2f65a.html" target="element">  </a> </td>
																		<td> <a href="../elements/480a3b29-4719-435b-b5fb-2b597df2f65a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/796663fc-f096-4093-b9bf-737e7772c5d3.html" target="element"> Employees </a> </td>
																		<td> <a href="../elements/a83ee73d-d70a-4f6b-ae78-aebf1ee77a58.html" target="element"> Technology Leadership </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c93de323-b9d7-4520-a67c-2ab81f273f70.html" target="element">  </a> </td>
																		<td> <a href="../elements/c93de323-b9d7-4520-a67c-2ab81f273f70.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/796663fc-f096-4093-b9bf-737e7772c5d3.html" target="element"> Employees </a> </td>
																		<td> <a href="../elements/ceef9166-ad5c-445a-a43a-3ff062ea854f.html" target="element"> Sustainability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/72e3dbc3-ca92-4a39-916e-4d6575ee9878.html" target="element">  </a> </td>
																		<td> <a href="../elements/72e3dbc3-ca92-4a39-916e-4d6575ee9878.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/d768198a-e097-4a9a-a650-ad210d5200d7.html" target="element"> Prospective Customers </a> </td>
																		<td> <a href="../elements/cabea1f7-11d4-4ef2-9e16-15a6b169b5ce.html" target="element"> Competitive information products </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1817b6be-2703-4210-bce8-753756a86262.html" target="element">  </a> </td>
																		<td> <a href="../elements/1817b6be-2703-4210-bce8-753756a86262.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/16afb3d1-ec67-499f-b352-3195ef61a4c2.html" target="element"> BI Providers </a> </td>
																		<td> <a href="../elements/a83ee73d-d70a-4f6b-ae78-aebf1ee77a58.html" target="element"> Technology Leadership </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/54a9e416-af29-4266-b110-95d423642478.html" target="element">  </a> </td>
																		<td> <a href="../elements/54a9e416-af29-4266-b110-95d423642478.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/42b0f996-d40b-4afc-a663-c4dbeff8601b.html" target="element"> Key Advisors </a> </td>
																		<td> <a href="../elements/cabea1f7-11d4-4ef2-9e16-15a6b169b5ce.html" target="element"> Competitive information products </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cc6f5e37-a5f8-4ebb-b7c1-8cfeba6a92d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/cc6f5e37-a5f8-4ebb-b7c1-8cfeba6a92d6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/42b0f996-d40b-4afc-a663-c4dbeff8601b.html" target="element"> Key Advisors </a> </td>
																		<td> <a href="../elements/f0bba757-0a4e-46b7-b7ce-c9c5310cfca5.html" target="element"> Profitability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3d398b3f-6c3e-4455-8eab-7efb1032812e.html" target="element">  </a> </td>
																		<td> <a href="../elements/3d398b3f-6c3e-4455-8eab-7efb1032812e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/68e7b0b4-561b-4c57-9e13-d60d10169be7.html" target="element"> Service Providers </a> </td>
																		<td> <a href="../elements/6461d116-c5b0-4747-bbd8-40486dcb1c6b.html" target="element"> Platform Stability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c6e7b7ac-4384-4fcd-89e4-c0081e1e4b5c.html" target="element">  </a> </td>
																		<td> <a href="../elements/c6e7b7ac-4384-4fcd-89e4-c0081e1e4b5c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/68e7b0b4-561b-4c57-9e13-d60d10169be7.html" target="element"> Service Providers </a> </td>
																		<td> <a href="../elements/a83ee73d-d70a-4f6b-ae78-aebf1ee77a58.html" target="element"> Technology Leadership </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/eb458419-79e6-4be0-b0dc-a4ec4ac2bde8.html" target="element">  </a> </td>
																		<td> <a href="../elements/eb458419-79e6-4be0-b0dc-a4ec4ac2bde8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/52cb5e8e-92b1-4070-8227-229f268e0bc1.html" target="element"> Technology communities </a> </td>
																		<td> <a href="../elements/a83ee73d-d70a-4f6b-ae78-aebf1ee77a58.html" target="element"> Technology Leadership </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c3b21518-50c8-4ec3-b70c-220af95b03ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/c3b21518-50c8-4ec3-b70c-220af95b03ea.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/imp-140177-7607236-8144901.html" target="element"> Branche Organisation </a> </td>
																		<td> <a href="../elements/aed0aff7-ed16-42d2-8fe0-0e302ba917d9.html" target="element"> Compliance &amp; Security </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f209ac3b-6f2d-4940-8d2c-b9ff53e9d6ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/f209ac3b-6f2d-4940-8d2c-b9ff53e9d6ea.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/76cfdb35-93a9-4b1b-87ce-19561dd9ddca.html" target="element"> Owner </a> </td>
																		<td> <a href="../elements/f0bba757-0a4e-46b7-b7ce-c9c5310cfca5.html" target="element"> Profitability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9a872b0e-e62b-464d-a8d2-a666301fd0b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/9a872b0e-e62b-464d-a8d2-a666301fd0b9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/76cfdb35-93a9-4b1b-87ce-19561dd9ddca.html" target="element"> Owner </a> </td>
																		<td> <a href="../elements/ceef9166-ad5c-445a-a43a-3ff062ea854f.html" target="element"> Sustainability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/093e0977-484f-44a0-afcf-9b02c61880d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/093e0977-484f-44a0-afcf-9b02c61880d3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/272903d8-9916-4a6e-b54d-c6031723b6c4.html" target="element"> Driver </a> </td>
																		<td> <a href="../elements/aed0aff7-ed16-42d2-8fe0-0e302ba917d9.html" target="element"> Compliance &amp; Security </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ceb4216d-059a-455d-963e-c2b610a18806.html" target="element">  </a> </td>
																		<td> <a href="../elements/ceb4216d-059a-455d-963e-c2b610a18806.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/272903d8-9916-4a6e-b54d-c6031723b6c4.html" target="element"> Driver </a> </td>
																		<td> <a href="../elements/cabea1f7-11d4-4ef2-9e16-15a6b169b5ce.html" target="element"> Competitive information products </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0ab3adf7-cb1e-460d-8635-c4a21cd9ddd0.html" target="element">  </a> </td>
																		<td> <a href="../elements/0ab3adf7-cb1e-460d-8635-c4a21cd9ddd0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/272903d8-9916-4a6e-b54d-c6031723b6c4.html" target="element"> Driver </a> </td>
																		<td> <a href="../elements/cc8fe738-ff2c-4bee-ac0b-5937e1c5b7a9.html" target="element"> Extensive Data Analytics Platform </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bb752391-904c-4eef-96ae-30134828633b.html" target="element">  </a> </td>
																		<td> <a href="../elements/bb752391-904c-4eef-96ae-30134828633b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/272903d8-9916-4a6e-b54d-c6031723b6c4.html" target="element"> Driver </a> </td>
																		<td> <a href="../elements/a83ee73d-d70a-4f6b-ae78-aebf1ee77a58.html" target="element"> Technology Leadership </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b9755dfb-dcfe-41f1-8cd1-da90599f837c.html" target="element">  </a> </td>
																		<td> <a href="../elements/b9755dfb-dcfe-41f1-8cd1-da90599f837c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/272903d8-9916-4a6e-b54d-c6031723b6c4.html" target="element"> Driver </a> </td>
																		<td> <a href="../elements/f0bba757-0a4e-46b7-b7ce-c9c5310cfca5.html" target="element"> Profitability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/208dabe8-afb1-41bb-a860-a4a18b4fcfe9.html" target="element">  </a> </td>
																		<td> <a href="../elements/208dabe8-afb1-41bb-a860-a4a18b4fcfe9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/272903d8-9916-4a6e-b54d-c6031723b6c4.html" target="element"> Driver </a> </td>
																		<td> <a href="../elements/ceef9166-ad5c-445a-a43a-3ff062ea854f.html" target="element"> Sustainability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/26e405a4-064e-4d96-acc9-9d151628918a.html" target="element">  </a> </td>
																		<td> <a href="../elements/26e405a4-064e-4d96-acc9-9d151628918a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/272903d8-9916-4a6e-b54d-c6031723b6c4.html" target="element"> Driver </a> </td>
																		<td> <a href="../elements/6461d116-c5b0-4747-bbd8-40486dcb1c6b.html" target="element"> Platform Stability </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/d72b30e6-9a03-4d00-a19a-875dc53c4905.html" target="element">  </a> </td>
																		<td> <a href="../elements/d72b30e6-9a03-4d00-a19a-875dc53c4905.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/78d45e31-ef27-4ba3-b80a-935c370ec4aa.html" target="element"> Ministries </a> </td>
																		<td> <a href="../elements/aed0aff7-ed16-42d2-8fe0-0e302ba917d9.html" target="element"> Compliance &amp; Security </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b2545706-0f0d-42c9-b02a-56e3bce77121.html" target="element">  </a> </td>
																		<td> <a href="../elements/b2545706-0f0d-42c9-b02a-56e3bce77121.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/21ff477b-236a-4ac6-854f-6564ea905a8a.html" target="element"> Data Providers </a> </td>
																		<td> <a href="../elements/cc8fe738-ff2c-4bee-ac0b-5937e1c5b7a9.html" target="element"> Extensive Data Analytics Platform </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ed74631e-dea5-4e25-857b-15f80b366687.html" target="element">  </a> </td>
																		<td> <a href="../elements/ed74631e-dea5-4e25-857b-15f80b366687.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/c2f65683-296d-4b72-8e2e-00881ab99baa.html" target="element"> Competitor </a> </td>
																		<td> <a href="../elements/f0bba757-0a4e-46b7-b7ce-c9c5310cfca5.html" target="element"> Profitability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/885f6b3c-06db-447b-9767-46331e132080.html" target="element">  </a> </td>
																		<td> <a href="../elements/885f6b3c-06db-447b-9767-46331e132080.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/f63fbb85-4f20-4e8e-aba7-0c5d50c09f8b.html" target="element"> Resellers </a> </td>
																		<td> <a href="../elements/f0bba757-0a4e-46b7-b7ce-c9c5310cfca5.html" target="element"> Profitability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7b97456e-547f-46ab-be46-bbad26aae223.html" target="element">  </a> </td>
																		<td> <a href="../elements/7b97456e-547f-46ab-be46-bbad26aae223.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/f63fbb85-4f20-4e8e-aba7-0c5d50c09f8b.html" target="element"> Resellers </a> </td>
																		<td> <a href="../elements/ceef9166-ad5c-445a-a43a-3ff062ea854f.html" target="element"> Sustainability </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>