<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Human Resource Management</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Human Resource Management</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/c2ddb8e8-7a8d-4861-96c8-30944639bda8.png" alt="Human Resource Management" usemap="#c2ddb8e8-7a8d-4861-96c8-30944639bda8map">
			<map name="c2ddb8e8-7a8d-4861-96c8-30944639bda8map">
								<area shape="rect" coords="68,116,308,226" href="../elements/ef35d2c2-2145-44be-8ebd-2f1ef198add7.html"  target="element">
										<area shape="rect" coords="524,164,580,224" href="../views/c674c64a-55f7-4077-af12-a8690865ee6c.html"  target="view">

								<area shape="rect" coords="332,116,572,226" href="../elements/fbda916b-835a-4d9c-b82e-a24a8c9ad6e1.html"  target="element">
								<area shape="rect" coords="596,116,836,226" href="../elements/a955d431-c0fb-4a74-b9ae-7011c1cc98a3.html"  target="element">
								<area shape="rect" coords="332,260,572,370" href="../elements/a9febfe4-028c-48cc-b2b3-dab4a564d080.html"  target="element">
								<area shape="rect" coords="68,260,308,370" href="../elements/842e2dd9-8584-4047-adca-0add968d6657.html"  target="element">
								<area shape="rect" coords="596,260,836,370" href="../elements/f1f912dd-31f5-4b77-bf2e-94f16f9623cc.html"  target="element">

						<area shape="rect" coords="20,20,934,424" href="../elements/6f4c7d3b-68d9-45a4-b337-f85baa63662b.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/6f4c7d3b-68d9-45a4-b337-f85baa63662b.html" target="element"> Human Resource Management </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/ef35d2c2-2145-44be-8ebd-2f1ef198add7.html" target="element"> Plan resources </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/fbda916b-835a-4d9c-b82e-a24a8c9ad6e1.html" target="element"> Recruit and Hire </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
															<tr><td> <a href="../views/c674c64a-55f7-4077-af12-a8690865ee6c.html" target="view"> Recruit and hire </a> </td><td class="i18n-viewpoint-"></td></tr>
													
													<tr><td> <a href="../elements/a955d431-c0fb-4a74-b9ae-7011c1cc98a3.html" target="element"> Develop Skills and Competences </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/a9febfe4-028c-48cc-b2b3-dab4a564d080.html" target="element"> Manage Contract and Third Party Agreements </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/842e2dd9-8584-4047-adca-0add968d6657.html" target="element"> Evaluate Job Performance </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/f1f912dd-31f5-4b77-bf2e-94f16f9623cc.html" target="element"> Manage Job Termination </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/5db984a5-2e66-4478-8bad-8a17b06ae969.html" target="element">  </a> </td>
																		<td> <a href="../elements/5db984a5-2e66-4478-8bad-8a17b06ae969.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6f4c7d3b-68d9-45a4-b337-f85baa63662b.html" target="element"> Human Resource Management </a> </td>
																		<td> <a href="../elements/ef35d2c2-2145-44be-8ebd-2f1ef198add7.html" target="element"> Plan resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c4d90260-b305-43e2-875e-d55e667024d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/c4d90260-b305-43e2-875e-d55e667024d1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6f4c7d3b-68d9-45a4-b337-f85baa63662b.html" target="element"> Human Resource Management </a> </td>
																		<td> <a href="../elements/fbda916b-835a-4d9c-b82e-a24a8c9ad6e1.html" target="element"> Recruit and Hire </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/730e9c1d-a7d1-4194-8efc-a985d3ff1671.html" target="element">  </a> </td>
																		<td> <a href="../elements/730e9c1d-a7d1-4194-8efc-a985d3ff1671.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6f4c7d3b-68d9-45a4-b337-f85baa63662b.html" target="element"> Human Resource Management </a> </td>
																		<td> <a href="../elements/a955d431-c0fb-4a74-b9ae-7011c1cc98a3.html" target="element"> Develop Skills and Competences </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7d492c78-42bc-4bff-9e7c-0cd214fa75e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/7d492c78-42bc-4bff-9e7c-0cd214fa75e3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6f4c7d3b-68d9-45a4-b337-f85baa63662b.html" target="element"> Human Resource Management </a> </td>
																		<td> <a href="../elements/a9febfe4-028c-48cc-b2b3-dab4a564d080.html" target="element"> Manage Contract and Third Party Agreements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4ae8472d-563b-478e-ae52-3901fbe63439.html" target="element">  </a> </td>
																		<td> <a href="../elements/4ae8472d-563b-478e-ae52-3901fbe63439.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6f4c7d3b-68d9-45a4-b337-f85baa63662b.html" target="element"> Human Resource Management </a> </td>
																		<td> <a href="../elements/842e2dd9-8584-4047-adca-0add968d6657.html" target="element"> Evaluate Job Performance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/763999de-c62c-4b5a-975f-94d9d028df02.html" target="element">  </a> </td>
																		<td> <a href="../elements/763999de-c62c-4b5a-975f-94d9d028df02.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6f4c7d3b-68d9-45a4-b337-f85baa63662b.html" target="element"> Human Resource Management </a> </td>
																		<td> <a href="../elements/f1f912dd-31f5-4b77-bf2e-94f16f9623cc.html" target="element"> Manage Job Termination </a> </td>
																	</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>