<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Recruit and hire</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Recruit and hire</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/c674c64a-55f7-4077-af12-a8690865ee6c.png" alt="Recruit and hire" usemap="#c674c64a-55f7-4077-af12-a8690865ee6cmap">
			<map name="c674c64a-55f7-4077-af12-a8690865ee6cmap">
								<area shape="rect" coords="1832,404,2014,502" href="../elements/bc0b0f2d-b7c1-43e1-832d-7b0ab40e9a0c.html"  target="element">
								<area shape="rect" coords="1844,668,2014,766" href="../elements/9d531da6-1494-4fc6-8ef2-33163a27e982.html"  target="element">

						<area shape="rect" coords="1772,332,2086,814" href="../elements/772f6a8c-2f29-470f-bc61-90c09e418706.html"  target="element">
								<area shape="rect" coords="1796,908,1966,990" href="../elements/de3423e7-d2db-4547-ace3-c5f5dd1a938e.html"  target="element">
								<area shape="rect" coords="1980,910,2166,988" href="../elements/dadee327-8149-4786-9bfe-ad54599d238c.html"  target="element">
								<area shape="rect" coords="1796,1004,1966,1092" href="../elements/d39699af-dfac-4d65-8f79-d535b3e301d4.html"  target="element">
								<area shape="rect" coords="1796,1100,1966,1188" href="../elements/d39699af-dfac-4d65-8f79-d535b3e301d4.html"  target="element">
								<area shape="rect" coords="1964,1100,2166,1188" href="../elements/f556af57-50db-4da5-b8b2-d0e1189d7e5f.html"  target="element">
								<area shape="rect" coords="1974,1010,2158,1084" href="../elements/70865d70-7588-49ff-9e04-ee17ca3f7533.html"  target="element">

						<area shape="rect" coords="1772,860,2206,1270" href="../elements/9d77df77-5800-4ee1-be98-b5eaaf0b877f.html"  target="element">
						<area shape="rect" coords="20,20,1702,118" href="../elements/fbda916b-835a-4d9c-b82e-a24a8c9ad6e1.html"  target="element">
								<area shape="rect" coords="1196,236,1436,310" href="../elements/f74e3bf5-3376-4477-ade2-90cf2d500a97.html"  target="element">
												<area shape="rect" coords="1100,476,1296,558" href="../elements/de3423e7-d2db-4547-ace3-c5f5dd1a938e.html"  target="element">

										<area shape="rect" coords="1052,380,1318,574" href="../elements/44e7bede-3eba-402a-ac0e-18f2aaf1c8d2.html"  target="element">
												<area shape="rect" coords="1388,476,1598,554" href="../elements/dadee327-8149-4786-9bfe-ad54599d238c.html"  target="element">

										<area shape="rect" coords="1364,380,1630,574" href="../elements/d47c681f-eed9-4c27-aef4-5a1f7ccaea3c.html"  target="element">

								<area shape="rect" coords="1004,332,1658,598" href="../elements/4b748cf8-3a97-4c1a-8be6-45e264e5d77f.html"  target="element">
										<area shape="rect" coords="1034,692,1610,802" href="../elements/08a20122-4726-48e0-bc0f-68391c0e97e5.html"  target="element">
										<area shape="rect" coords="1306,932,1336,962" href="../elements/49f9076b-f015-4830-b875-c30802c2b395.html"  target="element">
												<area shape="rect" coords="1394,932,1596,1020" href="../elements/d39699af-dfac-4d65-8f79-d535b3e301d4.html"  target="element">
												<area shape="rect" coords="1394,1028,1596,1116" href="../elements/f556af57-50db-4da5-b8b2-d0e1189d7e5f.html"  target="element">

										<area shape="rect" coords="1370,836,1610,1138" href="../elements/457646d4-aec5-4b6e-808b-b6ec58cc007c.html"  target="element">
										<area shape="rect" coords="1034,908,1274,1018" href="../elements/0ca4dbac-4413-4649-8624-60a2474bb1c7.html"  target="element">
										<area shape="rect" coords="1154,1050,1184,1080" href="../elements/1430a54e-88ef-405b-8dff-a4f56cee2834.html"  target="element">

								<area shape="rect" coords="986,620,1644,1150" href="../elements/c734dc5f-e05a-4bb1-961d-f31dba2f8b2f.html"  target="element">
										<area shape="rect" coords="1230,1244,1448,1342" href="../elements/3c9ee227-f5d7-4bc8-a23b-2b452ecc11d3.html"  target="element">
										<area shape="rect" coords="1494,1278,1524,1308" href="../elements/c7c6f0bb-a763-466b-9622-144e1d02a4c0.html"  target="element">
										<area shape="rect" coords="1054,1436,1280,1666" href="../elements/ed1fecdb-5621-490e-b97a-af657abb063d.html"  target="element">
										<area shape="rect" coords="1302,1364,1332,1394" href="../elements/f7e6008d-5fab-49fd-9933-67c0d593a0f2.html"  target="element">
												<area shape="rect" coords="1398,1484,1604,1558" href="../elements/70865d70-7588-49ff-9e04-ee17ca3f7533.html"  target="element">
												<area shape="rect" coords="1398,1580,1604,1654" href="../elements/74dc61bb-2f10-414b-af20-03d54697659d.html"  target="element">

										<area shape="rect" coords="1374,1436,1616,1666" href="../elements/a001b269-7734-49e4-99f9-65af8ece0e4d.html"  target="element">
										<area shape="rect" coords="1152,1278,1182,1308" href="../elements/b34294e2-1487-47e7-9214-25e4b42e9a31.html"  target="element">

								<area shape="rect" coords="990,1196,1640,1702" href="../elements/4a44525b-1bc3-45d0-a43d-0000e1315e54.html"  target="element">

						<area shape="rect" coords="956,188,1702,1750" href="../elements/e7a7354c-a298-4a70-878c-be6e38f6eff2.html"  target="element">
						<area shape="rect" coords="20,188,742,1030" href="../elements/a9d43bd4-6971-4e27-92f1-9fcf2c03da22.html"  target="element">
						<area shape="rect" coords="788,644,934,742" href="../elements/4278c00f-e584-4d4b-9732-dfe554d5d5fd.html"  target="element">
						<area shape="rect" coords="788,764,934,862" href="../elements/f7d149da-8d44-46f2-abdf-3ef33fb72807.html"  target="element">
						<area shape="rect" coords="788,428,934,538" href="../elements/486a01c5-1ca4-41e2-ab11-e18159a159e5.html"  target="element">
								<area shape="rect" coords="1812,1364,2018,1462" href="../elements/74dc61bb-2f10-414b-af20-03d54697659d.html"  target="element">

						<area shape="rect" coords="1764,1316,2206,1486" href="../elements/866d1956-ef9c-4e0c-8157-ecc111f7a8e7.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This process describes the steps taken within the hiring off new employees. This can be different per employee based on the fact if it is an European resident or not and if not whether the employee already has a working permit for The Netherlands.</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/772f6a8c-2f29-470f-bc61-90c09e418706.html" target="element"> Labour Contract </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
													<tr><td> <a href="../elements/bc0b0f2d-b7c1-43e1-832d-7b0ab40e9a0c.html" target="element"> Contract Proposal </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													<tr><td> <a href="../elements/9d531da6-1494-4fc6-8ef2-33163a27e982.html" target="element"> Signed Contract </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											
											<tr><td> <a href="../elements/9d77df77-5800-4ee1-be98-b5eaaf0b877f.html" target="element"> HR CBBS </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/de3423e7-d2db-4547-ace3-c5f5dd1a938e.html" target="element"> Store Employee Data </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
													<tr><td> <a href="../elements/dadee327-8149-4786-9bfe-ad54599d238c.html" target="element"> Store contract data </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
													<tr><td> <a href="../elements/d39699af-dfac-4d65-8f79-d535b3e301d4.html" target="element"> Erase Candidate Data </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
													<tr><td> <a href="../elements/d39699af-dfac-4d65-8f79-d535b3e301d4.html" target="element"> Erase Candidate Data </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
													<tr><td> <a href="../elements/f556af57-50db-4da5-b8b2-d0e1189d7e5f.html" target="element"> Erase Contract Data </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
													<tr><td> <a href="../elements/70865d70-7588-49ff-9e04-ee17ca3f7533.html" target="element"> Upload employee documents </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
											
											<tr><td> <a href="../elements/fbda916b-835a-4d9c-b82e-a24a8c9ad6e1.html" target="element"> Recruit and Hire </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/e7a7354c-a298-4a70-878c-be6e38f6eff2.html" target="element"> Hire </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/f74e3bf5-3376-4477-ade2-90cf2d500a97.html" target="element"> Oral Agreement </a> </td><td class="i18n-elementtype-BusinessEvent"></td></tr>
													<tr><td> <a href="../elements/4b748cf8-3a97-4c1a-8be6-45e264e5d77f.html" target="element"> Prepare contract </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
															<tr><td> <a href="../elements/44e7bede-3eba-402a-ac0e-18f2aaf1c8d2.html" target="element"> Collect employee data </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
																	<tr><td> <a href="../elements/de3423e7-d2db-4547-ace3-c5f5dd1a938e.html" target="element"> Store Employee Data </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
															
															<tr><td> <a href="../elements/d47c681f-eed9-4c27-aef4-5a1f7ccaea3c.html" target="element"> Draft Contract </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
																	<tr><td> <a href="../elements/dadee327-8149-4786-9bfe-ad54599d238c.html" target="element"> Store contract data </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
															
													
													<tr><td> <a href="../elements/c734dc5f-e05a-4bb1-961d-f31dba2f8b2f.html" target="element"> Accept Candidate </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
															<tr><td> <a href="../elements/08a20122-4726-48e0-bc0f-68391c0e97e5.html" target="element"> Agree on Contract </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
															<tr><td> <a href="../elements/49f9076b-f015-4830-b875-c30802c2b395.html" target="element"> Accept Agreement </a> </td><td class="i18n-elementtype-Junction"></td></tr>
															<tr><td> <a href="../elements/457646d4-aec5-4b6e-808b-b6ec58cc007c.html" target="element"> Remove candidate data </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
																	<tr><td> <a href="../elements/d39699af-dfac-4d65-8f79-d535b3e301d4.html" target="element"> Erase Candidate Data </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
																	<tr><td> <a href="../elements/f556af57-50db-4da5-b8b2-d0e1189d7e5f.html" target="element"> Erase Contract Data </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
															
															<tr><td> <a href="../elements/0ca4dbac-4413-4649-8624-60a2474bb1c7.html" target="element"> Screen Candidate </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
															<tr><td> <a href="../elements/1430a54e-88ef-405b-8dff-a4f56cee2834.html" target="element"> Accept Agreement (copy) </a> </td><td class="i18n-elementtype-Junction"></td></tr>
													
													<tr><td> <a href="../elements/4a44525b-1bc3-45d0-a43d-0000e1315e54.html" target="element"> Onboard Employee </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
															<tr><td> <a href="../elements/3c9ee227-f5d7-4bc8-a23b-2b452ecc11d3.html" target="element"> Apply for residence permit </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
															<tr><td> <a href="../elements/c7c6f0bb-a763-466b-9622-144e1d02a4c0.html" target="element"> Accept Agreement (copy) (copy) </a> </td><td class="i18n-elementtype-Junction"></td></tr>
															<tr><td> <a href="../elements/ed1fecdb-5621-490e-b97a-af657abb063d.html" target="element"> Instruct employee </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
															<tr><td> <a href="../elements/f7e6008d-5fab-49fd-9933-67c0d593a0f2.html" target="element"> Junction </a> </td><td class="i18n-elementtype-Junction"></td></tr>
															<tr><td> <a href="../elements/a001b269-7734-49e4-99f9-65af8ece0e4d.html" target="element"> Update personel file </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
																	<tr><td> <a href="../elements/70865d70-7588-49ff-9e04-ee17ca3f7533.html" target="element"> Upload employee documents </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
																	<tr><td> <a href="../elements/74dc61bb-2f10-414b-af20-03d54697659d.html" target="element"> Populate Salary system </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
															
															<tr><td> <a href="../elements/b34294e2-1487-47e7-9214-25e4b42e9a31.html" target="element"> EU person? </a> </td><td class="i18n-elementtype-Junction"></td></tr>
													
											
											<tr><td> <a href="../elements/a9d43bd4-6971-4e27-92f1-9fcf2c03da22.html" target="element"> Recruit </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/4278c00f-e584-4d4b-9732-dfe554d5d5fd.html" target="element"> Candidate </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
											<tr><td> <a href="../elements/f7d149da-8d44-46f2-abdf-3ef33fb72807.html" target="element"> Owner </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
											<tr><td> <a href="../elements/486a01c5-1ca4-41e2-ab11-e18159a159e5.html" target="element"> Office Manager </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<tr><td> <a href="../elements/866d1956-ef9c-4e0c-8157-ecc111f7a8e7.html" target="element"> Salary System </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/74dc61bb-2f10-414b-af20-03d54697659d.html" target="element"> Populate Salary system </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																			<tr>
																				<td> <a href="../elements/7ace7687-19cd-4e68-b7d6-1bdbc931e34a.html" target="element">  </a> </td>
																				<td> <a href="../elements/7ace7687-19cd-4e68-b7d6-1bdbc931e34a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/bc0b0f2d-b7c1-43e1-832d-7b0ab40e9a0c.html" target="element"> Contract Proposal </a> </td>
																				<td> <a href="../elements/772f6a8c-2f29-470f-bc61-90c09e418706.html" target="element"> Labour Contract </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/2524ed8c-ebf5-468c-8ba7-c243fae462ea.html" target="element">  </a> </td>
																				<td> <a href="../elements/2524ed8c-ebf5-468c-8ba7-c243fae462ea.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/9d531da6-1494-4fc6-8ef2-33163a27e982.html" target="element"> Signed Contract </a> </td>
																				<td> <a href="../elements/772f6a8c-2f29-470f-bc61-90c09e418706.html" target="element"> Labour Contract </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/b5da9175-596d-4aca-8174-52af622d0e47.html" target="element">  </a> </td>
																		<td> <a href="../elements/b5da9175-596d-4aca-8174-52af622d0e47.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/9d77df77-5800-4ee1-be98-b5eaaf0b877f.html" target="element"> HR CBBS </a> </td>
																		<td> <a href="../elements/de3423e7-d2db-4547-ace3-c5f5dd1a938e.html" target="element"> Store Employee Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c52192f6-217c-4196-a08e-6467fa9d44bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/c52192f6-217c-4196-a08e-6467fa9d44bb.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/9d77df77-5800-4ee1-be98-b5eaaf0b877f.html" target="element"> HR CBBS </a> </td>
																		<td> <a href="../elements/dadee327-8149-4786-9bfe-ad54599d238c.html" target="element"> Store contract data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c470ab9d-e526-427b-800c-de0991a22cae.html" target="element">  </a> </td>
																		<td> <a href="../elements/c470ab9d-e526-427b-800c-de0991a22cae.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/9d77df77-5800-4ee1-be98-b5eaaf0b877f.html" target="element"> HR CBBS </a> </td>
																		<td> <a href="../elements/d39699af-dfac-4d65-8f79-d535b3e301d4.html" target="element"> Erase Candidate Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ce4b0ce4-cbfc-437c-aa19-0733ecdb257e.html" target="element">  </a> </td>
																		<td> <a href="../elements/ce4b0ce4-cbfc-437c-aa19-0733ecdb257e.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/9d77df77-5800-4ee1-be98-b5eaaf0b877f.html" target="element"> HR CBBS </a> </td>
																		<td> <a href="../elements/f556af57-50db-4da5-b8b2-d0e1189d7e5f.html" target="element"> Erase Contract Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c470ab9d-e526-427b-800c-de0991a22cae.html" target="element">  </a> </td>
																		<td> <a href="../elements/c470ab9d-e526-427b-800c-de0991a22cae.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/9d77df77-5800-4ee1-be98-b5eaaf0b877f.html" target="element"> HR CBBS </a> </td>
																		<td> <a href="../elements/d39699af-dfac-4d65-8f79-d535b3e301d4.html" target="element"> Erase Candidate Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/599b6361-ea1e-432c-a2f2-5bb1b4e180b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/599b6361-ea1e-432c-a2f2-5bb1b4e180b3.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/9d77df77-5800-4ee1-be98-b5eaaf0b877f.html" target="element"> HR CBBS </a> </td>
																		<td> <a href="../elements/70865d70-7588-49ff-9e04-ee17ca3f7533.html" target="element"> Upload employee documents </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/951319be-c590-4eab-94e7-caa104a06d21.html" target="element">  </a> </td>
																		<td> <a href="../elements/951319be-c590-4eab-94e7-caa104a06d21.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/9d77df77-5800-4ee1-be98-b5eaaf0b877f.html" target="element"> HR CBBS </a> </td>
																		<td> <a href="../elements/866d1956-ef9c-4e0c-8157-ecc111f7a8e7.html" target="element"> Salary System </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/f3304ca5-b1e4-4f8e-9d18-ae83be4efe58.html" target="element">  </a> </td>
																		<td> <a href="../elements/f3304ca5-b1e4-4f8e-9d18-ae83be4efe58.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/fbda916b-835a-4d9c-b82e-a24a8c9ad6e1.html" target="element"> Recruit and Hire </a> </td>
																		<td> <a href="../elements/a9d43bd4-6971-4e27-92f1-9fcf2c03da22.html" target="element"> Recruit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a0776cf5-f1ae-44d9-a433-4b096040bd0f.html" target="element">  </a> </td>
																		<td> <a href="../elements/a0776cf5-f1ae-44d9-a433-4b096040bd0f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/fbda916b-835a-4d9c-b82e-a24a8c9ad6e1.html" target="element"> Recruit and Hire </a> </td>
																		<td> <a href="../elements/e7a7354c-a298-4a70-878c-be6e38f6eff2.html" target="element"> Hire </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a0f7ab13-f2d4-4f12-91cc-cbc0503da602.html" target="element">  </a> </td>
																		<td> <a href="../elements/a0f7ab13-f2d4-4f12-91cc-cbc0503da602.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7a7354c-a298-4a70-878c-be6e38f6eff2.html" target="element"> Hire </a> </td>
																		<td> <a href="../elements/4b748cf8-3a97-4c1a-8be6-45e264e5d77f.html" target="element"> Prepare contract </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2e7562d5-d49b-4f33-b70a-ab8d8b84fa1d.html" target="element">  </a> </td>
																		<td> <a href="../elements/2e7562d5-d49b-4f33-b70a-ab8d8b84fa1d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7a7354c-a298-4a70-878c-be6e38f6eff2.html" target="element"> Hire </a> </td>
																		<td> <a href="../elements/c734dc5f-e05a-4bb1-961d-f31dba2f8b2f.html" target="element"> Accept Candidate </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/44f8e715-666d-4784-8890-a10b3161beba.html" target="element">  </a> </td>
																		<td> <a href="../elements/44f8e715-666d-4784-8890-a10b3161beba.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7a7354c-a298-4a70-878c-be6e38f6eff2.html" target="element"> Hire </a> </td>
																		<td> <a href="../elements/4a44525b-1bc3-45d0-a43d-0000e1315e54.html" target="element"> Onboard Employee </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/36366ec4-a0a2-49d1-bdd3-34d65ada8d30.html" target="element">  </a> </td>
																				<td> <a href="../elements/36366ec4-a0a2-49d1-bdd3-34d65ada8d30.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/f74e3bf5-3376-4477-ade2-90cf2d500a97.html" target="element"> Oral Agreement </a> </td>
																				<td> <a href="../elements/4b748cf8-3a97-4c1a-8be6-45e264e5d77f.html" target="element"> Prepare contract </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/47685f67-f46a-4622-9f1b-5641973347e0.html" target="element">  </a> </td>
																				<td> <a href="../elements/47685f67-f46a-4622-9f1b-5641973347e0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/4b748cf8-3a97-4c1a-8be6-45e264e5d77f.html" target="element"> Prepare contract </a> </td>
																				<td> <a href="../elements/44e7bede-3eba-402a-ac0e-18f2aaf1c8d2.html" target="element"> Collect employee data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f7205352-52d8-4982-9c48-af0d3b73f69c.html" target="element">  </a> </td>
																				<td> <a href="../elements/f7205352-52d8-4982-9c48-af0d3b73f69c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/4b748cf8-3a97-4c1a-8be6-45e264e5d77f.html" target="element"> Prepare contract </a> </td>
																				<td> <a href="../elements/d47c681f-eed9-4c27-aef4-5a1f7ccaea3c.html" target="element"> Draft Contract </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/58c25a57-de56-4a35-b672-ddd8effaab30.html" target="element">  </a> </td>
																				<td> <a href="../elements/58c25a57-de56-4a35-b672-ddd8effaab30.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/4b748cf8-3a97-4c1a-8be6-45e264e5d77f.html" target="element"> Prepare contract </a> </td>
																				<td> <a href="../elements/bc0b0f2d-b7c1-43e1-832d-7b0ab40e9a0c.html" target="element"> Contract Proposal </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/a6c3b0fe-28f4-4d4b-8692-8cf7ac70dcef.html" target="element">  </a> </td>
																				<td> <a href="../elements/a6c3b0fe-28f4-4d4b-8692-8cf7ac70dcef.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/4b748cf8-3a97-4c1a-8be6-45e264e5d77f.html" target="element"> Prepare contract </a> </td>
																				<td> <a href="../elements/08a20122-4726-48e0-bc0f-68391c0e97e5.html" target="element"> Agree on Contract </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/766d374a-40d5-42de-b58b-5ffbefd02268.html" target="element">  </a> </td>
																						<td> <a href="../elements/766d374a-40d5-42de-b58b-5ffbefd02268.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/44e7bede-3eba-402a-ac0e-18f2aaf1c8d2.html" target="element"> Collect employee data </a> </td>
																						<td> <a href="../elements/d47c681f-eed9-4c27-aef4-5a1f7ccaea3c.html" target="element"> Draft Contract </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/2554843e-ec38-4707-9f2f-9125dc9d7b91.html" target="element">  </a> </td>
																								<td> <a href="../elements/2554843e-ec38-4707-9f2f-9125dc9d7b91.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/de3423e7-d2db-4547-ace3-c5f5dd1a938e.html" target="element"> Store Employee Data </a> </td>
																								<td> <a href="../elements/44e7bede-3eba-402a-ac0e-18f2aaf1c8d2.html" target="element"> Collect employee data </a> </td>
																							</tr>

															
																							<tr>
																								<td> <a href="../elements/f21c76c6-b034-4cc8-8b18-7088da59353a.html" target="element">  </a> </td>
																								<td> <a href="../elements/f21c76c6-b034-4cc8-8b18-7088da59353a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/dadee327-8149-4786-9bfe-ad54599d238c.html" target="element"> Store contract data </a> </td>
																								<td> <a href="../elements/d47c681f-eed9-4c27-aef4-5a1f7ccaea3c.html" target="element"> Draft Contract </a> </td>
																							</tr>

															
													
																			<tr>
																				<td> <a href="../elements/82346b89-6af5-4072-a004-dd4deea3ea9c.html" target="element">  </a> </td>
																				<td> <a href="../elements/82346b89-6af5-4072-a004-dd4deea3ea9c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/c734dc5f-e05a-4bb1-961d-f31dba2f8b2f.html" target="element"> Accept Candidate </a> </td>
																				<td> <a href="../elements/08a20122-4726-48e0-bc0f-68391c0e97e5.html" target="element"> Agree on Contract </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ad1da8e7-00fb-4be4-a43c-c7f81a7f59f5.html" target="element">  </a> </td>
																				<td> <a href="../elements/ad1da8e7-00fb-4be4-a43c-c7f81a7f59f5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/c734dc5f-e05a-4bb1-961d-f31dba2f8b2f.html" target="element"> Accept Candidate </a> </td>
																				<td> <a href="../elements/457646d4-aec5-4b6e-808b-b6ec58cc007c.html" target="element"> Remove candidate data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/cf29d6d6-5231-4911-89ff-9df9d0b3baea.html" target="element">  </a> </td>
																				<td> <a href="../elements/cf29d6d6-5231-4911-89ff-9df9d0b3baea.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/c734dc5f-e05a-4bb1-961d-f31dba2f8b2f.html" target="element"> Accept Candidate </a> </td>
																				<td> <a href="../elements/0ca4dbac-4413-4649-8624-60a2474bb1c7.html" target="element"> Screen Candidate </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/6b0683e7-27bd-4900-a0e1-728fbd55e4ea.html" target="element">  </a> </td>
																						<td> <a href="../elements/6b0683e7-27bd-4900-a0e1-728fbd55e4ea.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/08a20122-4726-48e0-bc0f-68391c0e97e5.html" target="element"> Agree on Contract </a> </td>
																						<td> <a href="../elements/49f9076b-f015-4830-b875-c30802c2b395.html" target="element"> Accept Agreement </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/0ade1228-2bd8-4d29-881b-141317daba43.html" target="element">  </a> </td>
																						<td> <a href="../elements/0ade1228-2bd8-4d29-881b-141317daba43.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																						<td> <a href="../elements/08a20122-4726-48e0-bc0f-68391c0e97e5.html" target="element"> Agree on Contract </a> </td>
																						<td> <a href="../elements/9d531da6-1494-4fc6-8ef2-33163a27e982.html" target="element"> Signed Contract </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/6524f057-24d0-4682-96c5-13091a5cac93.html" target="element">  </a> </td>
																						<td> <a href="../elements/6524f057-24d0-4682-96c5-13091a5cac93.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/49f9076b-f015-4830-b875-c30802c2b395.html" target="element"> Accept Agreement </a> </td>
																						<td> <a href="../elements/457646d4-aec5-4b6e-808b-b6ec58cc007c.html" target="element"> Remove candidate data </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/1ece1122-1373-4911-8741-1a29cfacc343.html" target="element">  </a> </td>
																						<td> <a href="../elements/1ece1122-1373-4911-8741-1a29cfacc343.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/49f9076b-f015-4830-b875-c30802c2b395.html" target="element"> Accept Agreement </a> </td>
																						<td> <a href="../elements/0ca4dbac-4413-4649-8624-60a2474bb1c7.html" target="element"> Screen Candidate </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/b06cef44-387d-4fb9-913b-507685f634ae.html" target="element">  </a> </td>
																								<td> <a href="../elements/b06cef44-387d-4fb9-913b-507685f634ae.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/d39699af-dfac-4d65-8f79-d535b3e301d4.html" target="element"> Erase Candidate Data </a> </td>
																								<td> <a href="../elements/457646d4-aec5-4b6e-808b-b6ec58cc007c.html" target="element"> Remove candidate data </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/9af3ea5b-7e55-4bd4-bd10-2e609acf56a2.html" target="element">  </a> </td>
																								<td> <a href="../elements/9af3ea5b-7e55-4bd4-bd10-2e609acf56a2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/d39699af-dfac-4d65-8f79-d535b3e301d4.html" target="element"> Erase Candidate Data </a> </td>
																								<td> <a href="../elements/457646d4-aec5-4b6e-808b-b6ec58cc007c.html" target="element"> Remove candidate data </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/09f2a982-c33a-4be4-af9f-405a82b19e0c.html" target="element">  </a> </td>
																								<td> <a href="../elements/09f2a982-c33a-4be4-af9f-405a82b19e0c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/f556af57-50db-4da5-b8b2-d0e1189d7e5f.html" target="element"> Erase Contract Data </a> </td>
																								<td> <a href="../elements/457646d4-aec5-4b6e-808b-b6ec58cc007c.html" target="element"> Remove candidate data </a> </td>
																							</tr>

															
																					<tr>
																						<td> <a href="../elements/2de15a2b-08ac-40b4-9546-7290781e521c.html" target="element">  </a> </td>
																						<td> <a href="../elements/2de15a2b-08ac-40b4-9546-7290781e521c.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/0ca4dbac-4413-4649-8624-60a2474bb1c7.html" target="element"> Screen Candidate </a> </td>
																						<td> <a href="../elements/c734dc5f-e05a-4bb1-961d-f31dba2f8b2f.html" target="element"> Accept Candidate </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/6df696b7-fedc-41ae-996b-5f1b8b9a75d5.html" target="element">  </a> </td>
																						<td> <a href="../elements/6df696b7-fedc-41ae-996b-5f1b8b9a75d5.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/0ca4dbac-4413-4649-8624-60a2474bb1c7.html" target="element"> Screen Candidate </a> </td>
																						<td> <a href="../elements/1430a54e-88ef-405b-8dff-a4f56cee2834.html" target="element"> Accept Agreement (copy) </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/d3ee68d8-ce9b-40b3-85bb-d951cfbb9afd.html" target="element">  </a> </td>
																						<td> <a href="../elements/d3ee68d8-ce9b-40b3-85bb-d951cfbb9afd.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/1430a54e-88ef-405b-8dff-a4f56cee2834.html" target="element"> Accept Agreement (copy) </a> </td>
																						<td> <a href="../elements/457646d4-aec5-4b6e-808b-b6ec58cc007c.html" target="element"> Remove candidate data </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/6f29a161-90c1-4f14-a4d9-2c77baa686ab.html" target="element">  </a> </td>
																						<td> <a href="../elements/6f29a161-90c1-4f14-a4d9-2c77baa686ab.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/1430a54e-88ef-405b-8dff-a4f56cee2834.html" target="element"> Accept Agreement (copy) </a> </td>
																						<td> <a href="../elements/b34294e2-1487-47e7-9214-25e4b42e9a31.html" target="element"> EU person? </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/75b29858-34bd-4b49-9cfe-a8285283cbdb.html" target="element">  </a> </td>
																				<td> <a href="../elements/75b29858-34bd-4b49-9cfe-a8285283cbdb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/4a44525b-1bc3-45d0-a43d-0000e1315e54.html" target="element"> Onboard Employee </a> </td>
																				<td> <a href="../elements/3c9ee227-f5d7-4bc8-a23b-2b452ecc11d3.html" target="element"> Apply for residence permit </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c4434aaf-d33b-40c4-b9dd-8e4eab935ba7.html" target="element">  </a> </td>
																				<td> <a href="../elements/c4434aaf-d33b-40c4-b9dd-8e4eab935ba7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/4a44525b-1bc3-45d0-a43d-0000e1315e54.html" target="element"> Onboard Employee </a> </td>
																				<td> <a href="../elements/ed1fecdb-5621-490e-b97a-af657abb063d.html" target="element"> Instruct employee </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0baa1cc1-3d5a-42b1-8ddb-92322466e7c1.html" target="element">  </a> </td>
																				<td> <a href="../elements/0baa1cc1-3d5a-42b1-8ddb-92322466e7c1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/4a44525b-1bc3-45d0-a43d-0000e1315e54.html" target="element"> Onboard Employee </a> </td>
																				<td> <a href="../elements/a001b269-7734-49e4-99f9-65af8ece0e4d.html" target="element"> Update personel file </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/4a088dfb-7429-40b1-92ed-606fa5f172c4.html" target="element">  </a> </td>
																						<td> <a href="../elements/4a088dfb-7429-40b1-92ed-606fa5f172c4.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/3c9ee227-f5d7-4bc8-a23b-2b452ecc11d3.html" target="element"> Apply for residence permit </a> </td>
																						<td> <a href="../elements/c7c6f0bb-a763-466b-9622-144e1d02a4c0.html" target="element"> Accept Agreement (copy) (copy) </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/1169765d-0dbc-4601-ab66-58c6b010acdf.html" target="element">  </a> </td>
																						<td> <a href="../elements/1169765d-0dbc-4601-ab66-58c6b010acdf.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/c7c6f0bb-a763-466b-9622-144e1d02a4c0.html" target="element"> Accept Agreement (copy) (copy) </a> </td>
																						<td> <a href="../elements/457646d4-aec5-4b6e-808b-b6ec58cc007c.html" target="element"> Remove candidate data </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/3346808a-48d4-4fca-9ba3-32eb17ac086c.html" target="element">  </a> </td>
																						<td> <a href="../elements/3346808a-48d4-4fca-9ba3-32eb17ac086c.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/c7c6f0bb-a763-466b-9622-144e1d02a4c0.html" target="element"> Accept Agreement (copy) (copy) </a> </td>
																						<td> <a href="../elements/f7e6008d-5fab-49fd-9933-67c0d593a0f2.html" target="element"> Junction </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/e69c7fe7-9300-45c3-a3e2-bb485e95ab01.html" target="element">  </a> </td>
																						<td> <a href="../elements/e69c7fe7-9300-45c3-a3e2-bb485e95ab01.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/f7e6008d-5fab-49fd-9933-67c0d593a0f2.html" target="element"> Junction </a> </td>
																						<td> <a href="../elements/ed1fecdb-5621-490e-b97a-af657abb063d.html" target="element"> Instruct employee </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/fec298e7-9cd3-462f-a3be-f005e92fdf9b.html" target="element">  </a> </td>
																						<td> <a href="../elements/fec298e7-9cd3-462f-a3be-f005e92fdf9b.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/f7e6008d-5fab-49fd-9933-67c0d593a0f2.html" target="element"> Junction </a> </td>
																						<td> <a href="../elements/a001b269-7734-49e4-99f9-65af8ece0e4d.html" target="element"> Update personel file </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/3511bde4-aeee-4132-b919-2787b0202cd6.html" target="element">  </a> </td>
																								<td> <a href="../elements/3511bde4-aeee-4132-b919-2787b0202cd6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/70865d70-7588-49ff-9e04-ee17ca3f7533.html" target="element"> Upload employee documents </a> </td>
																								<td> <a href="../elements/a001b269-7734-49e4-99f9-65af8ece0e4d.html" target="element"> Update personel file </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/c52183fd-15db-4e56-91bf-1f6d4980f4c5.html" target="element">  </a> </td>
																								<td> <a href="../elements/c52183fd-15db-4e56-91bf-1f6d4980f4c5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/74dc61bb-2f10-414b-af20-03d54697659d.html" target="element"> Populate Salary system </a> </td>
																								<td> <a href="../elements/a001b269-7734-49e4-99f9-65af8ece0e4d.html" target="element"> Update personel file </a> </td>
																							</tr>

															
																					<tr>
																						<td> <a href="../elements/24b4f7a0-63c7-4fff-a534-f56a99e9aea7.html" target="element">  </a> </td>
																						<td> <a href="../elements/24b4f7a0-63c7-4fff-a534-f56a99e9aea7.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/b34294e2-1487-47e7-9214-25e4b42e9a31.html" target="element"> EU person? </a> </td>
																						<td> <a href="../elements/3c9ee227-f5d7-4bc8-a23b-2b452ecc11d3.html" target="element"> Apply for residence permit </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/35a81d66-4cc9-4b6e-b27e-0aa2fd5aa86f.html" target="element">  </a> </td>
																						<td> <a href="../elements/35a81d66-4cc9-4b6e-b27e-0aa2fd5aa86f.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/b34294e2-1487-47e7-9214-25e4b42e9a31.html" target="element"> EU person? </a> </td>
																						<td> <a href="../elements/f7e6008d-5fab-49fd-9933-67c0d593a0f2.html" target="element"> Junction </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/85755c24-a263-4d2d-ab8b-227828ef332b.html" target="element">  </a> </td>
																		<td> <a href="../elements/85755c24-a263-4d2d-ab8b-227828ef332b.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/a9d43bd4-6971-4e27-92f1-9fcf2c03da22.html" target="element"> Recruit </a> </td>
																		<td> <a href="../elements/e7a7354c-a298-4a70-878c-be6e38f6eff2.html" target="element"> Hire </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ea4b2822-1d04-49bb-bea2-e5727c4ef2f4.html" target="element">  </a> </td>
																		<td> <a href="../elements/ea4b2822-1d04-49bb-bea2-e5727c4ef2f4.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/4278c00f-e584-4d4b-9732-dfe554d5d5fd.html" target="element"> Candidate </a> </td>
																		<td> <a href="../elements/08a20122-4726-48e0-bc0f-68391c0e97e5.html" target="element"> Agree on Contract </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/84db4ab7-8aa7-47f9-b47a-c2727ccd355f.html" target="element">  </a> </td>
																		<td> <a href="../elements/84db4ab7-8aa7-47f9-b47a-c2727ccd355f.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/f7d149da-8d44-46f2-abdf-3ef33fb72807.html" target="element"> Owner </a> </td>
																		<td> <a href="../elements/08a20122-4726-48e0-bc0f-68391c0e97e5.html" target="element"> Agree on Contract </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/31fca803-aa4f-4511-badc-0563fa73c512.html" target="element">  </a> </td>
																		<td> <a href="../elements/31fca803-aa4f-4511-badc-0563fa73c512.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/f7d149da-8d44-46f2-abdf-3ef33fb72807.html" target="element"> Owner </a> </td>
																		<td> <a href="../elements/a9d43bd4-6971-4e27-92f1-9fcf2c03da22.html" target="element"> Recruit </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0021f624-dd2b-4fed-9a9b-53384bfaedc7.html" target="element">  </a> </td>
																		<td> <a href="../elements/0021f624-dd2b-4fed-9a9b-53384bfaedc7.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/486a01c5-1ca4-41e2-ab11-e18159a159e5.html" target="element"> Office Manager </a> </td>
																		<td> <a href="../elements/e7a7354c-a298-4a70-878c-be6e38f6eff2.html" target="element"> Hire </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2e6e90b9-5021-4d7d-a972-883a0b7e4af0.html" target="element">  </a> </td>
																		<td> <a href="../elements/2e6e90b9-5021-4d7d-a972-883a0b7e4af0.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/486a01c5-1ca4-41e2-ab11-e18159a159e5.html" target="element"> Office Manager </a> </td>
																		<td> <a href="../elements/a9d43bd4-6971-4e27-92f1-9fcf2c03da22.html" target="element"> Recruit </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/9487c73b-169c-4a29-bb94-cb65829542e9.html" target="element">  </a> </td>
																		<td> <a href="../elements/9487c73b-169c-4a29-bb94-cb65829542e9.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/866d1956-ef9c-4e0c-8157-ecc111f7a8e7.html" target="element"> Salary System </a> </td>
																		<td> <a href="../elements/74dc61bb-2f10-414b-af20-03d54697659d.html" target="element"> Populate Salary system </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>